<div data-apply-behavior="blockClicks">
	<h3>Add Member</h3>
	<input  name="memberName" placeholder="Member Name" />
	<select name="memberType">{{{selectOptions types selectedType dflt}}}</select>
	<button data-action="createMember" title="(Enter)" data-kbs="13">Create</button>
	<button data-action="closeForm" title="(Esc)" data-kbs="27">Close</button>
</div>
