<div data-apply-behavior="blockClicks">
	<h3>Edit Member</h3>
	<input  name="memberName" placeholder="Member Name" value="{{name}}" />
	<select name="memberType">{{{selectOptions types selectedType dflt}}}</select>
	<button data-action="updateMember" title="(Enter)" data-kbs="13">Update</button>
	<button data-action="deleteMember" title="(Del)"   data-kbs="46">Remove</button>
	<button data-action="closeForm"    title="(Esc)"   data-kbs="27">Close</button>
</div>
