<div data-apply-behavior="">
	<h3>Navigate</h3>
	<table>
		<tr>
			<td><button data-action="triggerClick" title="(Enter)" data-kbs="13">&curren;</button></td>
			<td><button data-action="goPrev"       title="(Up)"    data-kbs="87">&uarr;</button></td>
			<td><button data-action="deleteNode"   title="(Del)"   data-kbs="46">&times;</button></td>
		</tr>
		<tr>
			<td><button data-action="goParent" title="(Left)"  data-kbs="65">&larr;</button></td>
			<td><button data-action="goNext"   title="(Down)"  data-kbs="83">&darr;</button></td>
			<td><button data-action="goFirst"  title="(Right)" data-kbs="68">&rarr;</button></td>
		</tr>
	</table>
</div>
