<div data-apply-behavior="blockClicks">
	<h3>Start Tree</h3>
	<select name="rootType">{{{selectOptions types selectedType dflt}}}</select>
	<button data-action="createRoot" title="(Enter)" data-kbs="13">Create</button>
</div>
