<div data-apply-behavior="blockClicks">
	<h3>Edit Type</h3>
	<select name="valueType">{{{selectOptions types selectedType dflt}}}</select>
	<button data-action="updateValue" title="(Enter)" data-kbs="13">Update</button>
	<button data-action="closeForm"   title="(Esc)"   data-kbs="27">Close</button>
</div>
