<div class="tabContainer" data-action="selectTab" data-tab-id="{{tabId}}">
	<div class="tabHead">
		<h3 class="tabTitle">{{title}}</h3>
		<button data-action="closeTab">&times;</button>
	</div>
	<div class="tabBody" data-action="startTree"></div>
</div>
