#WorkSpace {
	box-shadow:-1pt 2pt 2pt gray;
	border-radius:4pt;
}
.tabHeader {
	padding-left:6pt;
	background: #9bf;
	border-radius:4pt 4pt 0 0;
}
.tabHeader > button {
	display:inline-block;
	vertical-align:bottom;
	border-width:1px 1px 0 1px;
	border-style:solid;
	border-color:gray;
	border-radius:4pt 4pt 0 0;
	padding:3pt 8pt;
	margin:0 0 0 4pt;
	cursor:pointer;
}
.tabHead {
	display: inline-block;
	background:#bfdfff;
	padding:0;
	margin-left:3pt;
}
.tabHead > span {
	display:inline-block;
	font:bold 12pt arial;
	padding:3pt 4pt;
}
.tabHead > button {
	display:inline-block;
	background:#69c;
	background:#58b;
	width:18pt;
	height:100%;
	border:0;
	padding:3pt;
	margin:0;
	cursor:pointer;
}
.tabHead.hidden {
	background:#58b;
	background:#9bf;
}
.tabHead.hidden > span {
	cursor:pointer;
}
.tabContainer {
	border:3px solid #bfdfff;
	border-radius:0 0 4pt 4pt;
	padding: 3pt;
}
.tab.hidden {
	display:none;
}